<?php if (!defined('RECRUIT')) die('go away'); ?>
<?php

$cfg_sql_url = 'mysql:host=localhost;dbname=intel';
$cfg_sql_user = 'root';
$cfg_sql_pass = 'root';

$cfg_core_endpoint = 'https://core.braveineve.com/api';

$cfg_url_base = 'http://intel.bravecollective.com';
$cfg_url_auth_init = $cfg_url_base . '/?nav=init';
$cfg_url_auth_success = $cfg_url_base . '/?nav=verify';
$cfg_url_auth_fail = $cfg_url_base . '/?nav=';

$cfg_core_application_id = '';
$cfg_core_public_key = '';
$cfg_core_private_key = '';

$cfg_cookie_name = 'brave-auth-intel';
$cfg_cookie_https_only = true;

$cfg_expire_session = (60 * 60 * 24 * 1);
$cfg_expire_uploader = (60 * 60 * 24 * 1);

?>
